<style>
.block.newsletter .form.subscribe {
    display: block;
    width: 100%;
    margin-top: 15px;
}
</style>
<div class="block newsletter newsletter-content" id="popup-newsletter">
    <div class="messages">
        <div class="message">
            <div></div>
        </div>
    </div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl(); ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:'); ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address'); ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div><br>
            <div class="actions">
                <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe'); ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe'); ?></span>
                </button>
            </div>
        </form>
    </div>
    
</div>

<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "Gmi_popup/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */ echo __('Newsletter'); ?>"
            }
        }
    }
</script>

