
<?php
 $mediapath	=  $this->getMediaPath('media');
 $collection = $block->getTestimonialCollection(); ?>
<?php if($collection->count() > 0): ?>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
    <table class="data table" id="testimonial-data-table">
        <caption class="table-caption">Gmi Testimonial Data</caption>
        <thead>
            <tr>
                <th scope="col" class="col title">Title</th>
                <th scope="col" class="col author">Author</th>
                <th scope="col" class="col created_at">Created At</th>
                <th scope="col" class="col actions">Action</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collection as $key => $data): ?>
                <tr>
                    <td data-th="Title" class="col title"><?php echo $data->getPosition(); ?></td>
                    <td data-th="Author" class="col author"><?php echo $data->getAuthor(); ?></td>
                    <td data-th="Date" class="col created_at"><?php echo $data->getCreatedAt(); ?></td>
                    <td data-th="Actions" class="col actions">
                     <?php  echo $data->getImage();
                 $path = $this->getMediaUrl().'http://localhost/Magento-2.3/pub/media/'.$data->getImage();
                 $img = '<img src='.$path. ' >';
                 echo $img;
        ?>     </td>
                        
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>

<?php endif; ?>

