<?php
    $collection = $this->getTestimonialCollection();
?>
<section class="ftco-section testimony-section">
<div class="container">
      <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate">
            <h2 class="mb-4">Our satisfied customer says</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
      </div>
         <div class="carousel-testimony owl-carousel">
            <?php foreach ($collection as $key => $data): ?>
              <?php
                 $path = $this->getMediaUrl().'pub/media/'.$data->getImage();
                 $img = '<img src='.$path. ' >';
                 ?> 
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(<?php echo $path;?>)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line"><?php echo $data->getContent(); ?></p>
                    <p class="name"><?php echo $data->getAuthor(); ?></p>
                    <span class="position"><?php echo $data->getPosition(); ?></span>
                  </div>
                </div>
              </div>
            <?php endforeach; ?>
         </div>
</div>
</section>

